/*usamos "body" como selector de etiqueta ,luego indicamos el estilo que queremos aplicar en esta parte del código*/
body {
  /*seleccionamos la fuente que deseamos aplicar*/
  font-family: sans-serif;
  /*modificamos el espacio o relleno entre el código y el borde*/
  padding: 10px;
}
/*usamos selector de etiqueta "header" y especificamos que modificaremos "h1"*/
header h1 {
  /*configuramos el margen inferior*/
  margin-bottom: 3px;
  /*configuramos el margen superior*/
  margin-top: 0;
}
/*usamos selector de etiqueta "header" y especificamos que modificaremos "hr"*/
header hr {
  /*configuramos el margen superior*/
  margin-top: 0;
  /*configuramos el margen inferior*/
  margin-bottom: 0;
}
/*usamos selector de clase"biography*/
.biography {
  /*configuramos el ancho de la caja*/
  width: 78%;
  /*con la propiedad "display" damos forma inline pero mantiene su naturaleza de bloque*/
  display: inline-block;
  /*configuramos el tamaño de la fuente*/
  font-size: 14px;
  /*configuramos el espaciado de cada linea de texto*/
  line-height: 1.6;
 }
.summary {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  margin-top: 40px;
}
.summary-table {
  border: 1px solid #a2a961;
  background-color: #f8f9fa;
  padding: 1px;
  font-size: 14px;

}
.summary-table thead th {
  background-color: #B0C4DE;
  padding-top: 3PX;
  padding-bottom: 3PX;
  font-size: 16px;
}
.summary-table tbody tr:first-child{
  background-color: #f8f9fa;
  text-align: center;
}
.summary-table tbody th {
  text-align: left;

}
